<!DOCTYPE html>
<html lang="PT-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./FaviconIcon.png" type="image/x-icon">
    <link rel="stylesheet" href="./styleIndex.css">
    <title>Café da manhã</title>
    <script src="./index.js" defer></script>
</head>
<body>
    <dir class="box">
        <h1>Cadastro Café da manhã</h1>
        <form action="">
            <input type="text" class="nome" name="nome" placeholder="nome" required>
            <input type="number" class="cpf" name="cpf" placeholder="cpf" required >
            <input type="text" class="comida" placeholder="comida" required>
            <button>Registrar</button>
        </form>
    </dir>
</body>
<footer>
    <dir class="linkRodaPe">
        <a href="./index.html">Inicio</a>
        <a href="./ListaDeRegistros.html">Lista</a>
        <a href="./ModificaRegistro.html">Modificar Registro</a>
        <a href="./DeletaRegistro.html">Deletar Registro</a>
    </dir>
</footer>
</html>